.find {
  display: none;
  @media screen and(max-width: 1170px){
    display: flex;
  }
  z-index: 10000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  max-width: 117rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  &__container {
    width: 32rem;
    height: 5rem;
    position: relative;
  }
  &__input {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 7px;
    width: 30rem;
    height: 5rem;
    outline: none;
    font-family: $fFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    padding-left: 2rem;
    position: relative;
    color: #FFFFFF;
    &::placeholder {
      font-family: $fFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: #FFFFFF;
    }
  }
  &__icon {
    position: absolute;
    top: 35%;
    right: 1.9rem;
  }

}