.flat {
  z-index: 1004;
  position: absolute;
  right: 51.5%;
  top: 410px;
  opacity: 0;
  visibility: hidden;
  transition: .6s ease-in;
  transform: translateY(70px);
  @media screen and(max-width: 1280px){
    display: none;
  }
  &_active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__main-image {
    max-width: 37.3rem;
    height: 27.1rem;
    border-radius: 1.5rem;
    z-index: 1004;
  }
  &__title {
    font-size: 1.7rem;
    margin-top: 1.2rem;
    color: white;
    font-family: $fFamily;
  }
  &__text {
    font-size: 1.4rem;
    line-height: 140%;
    margin-top: 1rem;
    color: white;
    font-family: $fFamily;
    opacity: .6;
    max-width: 30rem;
  }
}
